#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 65%;
    overflow:hidden;
    border-radius:50%;
    border:10px solid;
    border-color:rgb(144, 237, 252);
}