
    <div class="container-fluid text-center text-dark">
      <h2 class="w-100 p-2">Developers</h2>
      <div class="row mx-auto ">
        <div class="card bg-transparent col-lg-4 col-md-6 col-sm-10">
        <br/>
         <img class="card-img-top rounded-circle" id ="image" src="{{akash}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Akash Singh</h4>
            <p><i class="fa fa-mobile-phone"style="font-size:36px"></i>+91 7276087434</p>
            <p><i class="fa fa-envelope" style="font-size:24px;color:rgb(0, 0, 0)"></i> akashsingh13201@gmail.com</p>
          </div>
        </div>
        <div class="card bg-transparent col-lg-4">
        <br/>
          <img class="card-img-top rounded-circle" id ="image" src="{{anurag}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Anurag Singh</h4>
            <p><i class="fa fa-mobile-phone"style="font-size:36px"></i>+91 96652 47226</p>
            <p><i class="fa fa-envelope" style="font-size:24px; color: rgb(0, 0, 0)"></i> anurag.r.singh1234@gmail.com</p>
          </div>
        </div>
        <div class="card bg-transparent  col-lg-4">
            <br/>
          <img class="card-img-top rounded-circle"   id ="image" src="{{harsh}}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Harsh Singh</h4>
            <p><i class="fa fa-mobile-phone"style="font-size:36px"></i>+91 8390313364</p>
            <p><i class="fa fa-envelope" style="font-size:24px;color:rgb(0, 0, 0)"></i> harshsatishsingh1174@gmail.com</p>
          </div>
        </div></div>
       
      </div>
