
  <div class="text-center pr-3 py-1">
    <div class="container">
      <div class="row m-4">
        <div class="bg-white border-right border-top rounded my-0 mx-auto ml-auto mr-auto col-12 p-3 pl-2 col-md-7" id="box">
            <div class="card">
                <div class="card-header">
            <h2 class="text-light" id="header">Login</h2>
            </div>
            <div class="card-body">
            <form action="#" autocomplete="off" method="post">
                <br/>
              <div class="form-group">
                <h5 class="text-info" id="labels"> <i class="fa fa-envelope" style="font-size:16px; color:cyan"></i>&nbsp;Email Id:</h5>
                <input type="login-id" class="form-control form-control-md" placeholder="eg: john@xyz.com." id="login-id" required="">
              </div>
            <br/>
              <div class="form-group">
                <h5 class="text-info" id="labels"><i class="fa fa-lock" style="font-size:18px;color:cyan"></i> <label for="password">&nbsp;Password:</label> 
                    <input type="password" class="form-control form-control-md" placeholder="eg:****" id="password" required=""> </h5>
              </div>
              <br/>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-outline-success rounded shadow" id="submit">Submit</button>
              </div>
              <br/>
            </form>
        </div>
        <div class="card-footer">
            <h6> New To Covalent? Let's Register you first. </h6>
            <button type="button" class="btn btn-lg  btn-secondary  btn-block" id="reg" routerLink='/register' routerLinkActive='active'> Register! </button>
            </div>
        </div>
        </div>
      </div>
    </div>
  