<div class="py-5 text-center" style="background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size:cover;" >
  <div class="container">
    <div class="row">
      <div class=" p-5 mx-auto col-md-8 col-10 text-light" id="splash">
        <h3 class="display-3">Welcome to Covalent!</h3>
        <p class="mb-3 lead">A place where Startups work for Startups!</p>
        <p class="mb-4">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p> <a class="btn btn-outline-light" href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
  <div class="container py-5"></div>
<div class="py-3 text-center">
  <div class="container">
    <div class="row">
      <h4 class="display-3">Services offered by us</h4>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b> Connectivity</b> </h4>
        <p>We peovide a platform to the STartups using which they can connect with other startups and can grow collectively.</p>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b>Efficiency</b> </h4>
        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b> Vocal for Local</b> </h4>
        <p>So absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke.</p>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b>Opportunity</b> </h4>
        <p>At the present moment and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me.</p>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b>Assistance</b> </h4>
        <p>And the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
      </div>
      <div class="col-lg-4 col-md-6 p-4">
        <h4> <b> Collective Growth</b> </h4>
        <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
      </div>
    </div>
  </div>
</div>


<!-- About 
    ================================================== -->
<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>Who We Are</small>About<br>
          Our Blog</h2>
      </div>
      <div class="col-md-4">
        <p>To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment, and all wisdom and virtue will naturally come to him.</p>
        <p>Saving our planet, lifting people out of poverty, advancing economic growth... these are one and the same fight. We must connect the dots between climate change, water scarcity, energy shortages, global health, food security and women's empowerment. Solutions to one problem must be solutions for all.</p>
      </div>
      <div class="col-md-4">
        <p>Our greatest happiness does not depend on the condition of life in which chance has placed us, but is always the result of a good conscience, good health, occupation, and freedom in all just pursuits.</p>
        <p>Being in control of your life and having realistic expectations about your day-to-day challenges are the keys to stress management, which is perhaps the most important ingredient to living a happy, healthy and rewarding life.</p>
        <p><a href="#" class="btn btn-transparent-white btn-capsul">Explore More</a></p>
      </div>
    </div>
  </div>
</section>

  <div class="py-5 bg-light text-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center p-4">
          <p class="mb-1"> <strong>Thakur College of Engineering and Technology</strong> <br>Thakur Village Kandivali <br>Mumbai , India <br> <abbr title="Phone"></abbr> (+91) 456-7890 </p>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-around"> <a href="#">
                <i class="d-block fa fa-facebook-official text-light fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-instagram text-light fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-google-plus-official text-light fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-pinterest-p text-light fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-reddit text-light fa-lg mx-2"></i>
              </a> <a href="#">
                <i class="d-block fa fa-twitter text-light fa-lg ml-2"></i>
              </a> </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-md-6 p-0"> <iframe width="100%" height="325" src="https://maps.google.com/maps?hl=en&amp;q=Thakur%20College%20of%20Engineering%20and%20Technology&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" scrolling="no" frameborder="0"></iframe></div>
      </div>
    </div>
  </div>
      